*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: aqua;
}
.class1{
    width: 80vw;
    height: 20vh;
    display: flex;
   justify-content: space-between;
    align-items: center;
    font-size: 100px;
    background-color: azure;
}
.class2{

    width: 80vw;
    height: 20vh;
    display: flex;
   justify-content: space-between;
    align-items: center;
    background-color: azure; 
    font-size: 100px;
}
#id1{
    color: aqua;
}
#id2{
    color: blue;
}
#id3{
    color: purple;
}
#id4{
    color: pink;
}
#id5{
    color: red;
}
#id6{
    color: red;
}
#id7{
    color: gray;
}
#id8{
    color: yellow;
}
#id9{
    color: gray;
}
#id10{
    color: gray;
}
#id11{
    color: gray;
}
@media screen and (min-width:200px) and (max-width:768px) {
    .parent{
        width: auto;
        height: auto;
        display: block;
       
    }
    .class1{
        height: auto;
        width: auto;
        display: block;
    }
    .class2{
        height: auto;
        width: auto;
        display: block;
    }
    
}